html {
  /* margin:1rem; */
}
body {
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-size: 1rem;
  /* line-height: 2rem; */
  color: white;
  background-color: rgb(49, 42, 38);
}
.body-placement {
  margin: 1rem;
}

h1 {
  font-family: "Voyager", serif;
  font-weight: lighter;
  /* font-size: 4rem; */
}
h2 {
  font-family: "Voyager", serif;
  font-weight: bold;
  font-size: 3rem;
}
h3 {
  font-weight: bold;
}

.img-link {
  max-width: 400px;
  border: 3px solid white;
  padding:10px;
}
.img-link:hover{
    filter:drop-shadow(3px 3px 10px grey);
}


a {
  text-decoration: none;
  color: white;
  max-width: 100%;
}
a:hover,
a:focus,
a:active {
  color: burlywood;
}
.in-text-a {
  text-decoration: underline;
}
.nav-item,
.button-nav {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  background-color: rgb(58, 50, 44);
  /* instead of changing background colour, 
    create a small animation like making the letters jump up 
    a bit when the mouse is hovering over the object */
}
.button-nav {
  background-color: rgb(43, 38, 34);
  filter: drop-shadow(2px 2px 2px black);
  transition-property: background-color;
  transition-duration: 0.5s;
}
.button-nav:hover {
  background-color: rgb(58, 50, 44);
  filter: none;
}
input {
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(43, 38, 34);
  border-radius: 1rem;
  color: white;
  background-color: rgb(43, 38, 34);
  transition-property: background-color;
  transition-duration: 0.5s;
}
input:hover {
  background-color: rgb(58, 50, 44);
}
label {
  color: burlywood;
}
.hz-line {
  margin-top: -1rem;
  border: 1px solid white;
}

.first-page-title {
  margin-top: 4rem;
}
.landing-section {
  margin-bottom: 8rem;
}

.sg-nav-item-2-fb-2 p {
  color: grey;
}
section:not(.element) {
  margin-bottom: 5rem;
}
.element {
  margin-bottom: 3rem;
  background-color: rgb(58, 50, 44);
  padding: 1rem;
  border-radius: 1rem;
}
.element:hover,
.element:focus,
.element:active {
  background-color: rgb(73, 64, 57);
}
figcaption {
  margin-top: 1rem;
}
.citations-box {
  max-width: 100%;
}

@media (max-width: 500px) {
  /* body{
        line-height:1.4rem;
    } */
  h2 {
    font-size: 2rem;
  }
  .img-link {
    max-width: 200px;
  }
}
