html {
  /* margin:1rem; */
}
body {
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-size: 1rem;
  /* line-height: 2rem; */
  color: white;
  background-color: rgb(49, 42, 38);
}
.body-placement {
  margin: 1rem;
}

h1 {
  font-family: "Voyager", serif;
  font-weight: lighter;
  font-size: 4rem;
}
h2 {
  font-family: "Voyager", serif;
  font-weight: bold;
  font-size: 3rem;
}
h3 {
  font-weight: bold;
}

.img-link {
  width: 400px;
  height: 400px;
  border: 3px solid white;
  padding: 10px;
}
.img-link:hover {
  filter: drop-shadow(3px 3px 10px grey);
  /* box-shadow:grey; */
}
.img-prj {
  width: 400px;
  height: auto;
  border: 3px solid white;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
  max-width: 100%;
}
a:hover,
a:focus,
a:active {
  color: burlywood;
}
.in-text-a {
  text-decoration: underline;
}
.nav-item,
.button-nav {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  background-color: rgb(58, 50, 44);
  /* instead of changing background colour, 
    create a small animation like making the letters jump up 
    a bit when the mouse is hovering over the object */
}
.button-nav {
  background-color: rgb(43, 38, 34);
  filter: drop-shadow(2px 2px 2px black);
  transition-property: background-color;
  transition-duration: 0.5s;
}
.button-nav:hover {
  background-color: rgb(58, 50, 44);
  filter: none;
}
input {
  font-family: "Neue Machina", sans-serif;
  font-style: normal;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(43, 38, 34);
  border-radius: 1rem;
  color: white;
  background-color: rgb(43, 38, 34);
  transition-property: background-color;
  transition-duration: 0.5s;
}
input:hover {
  background-color: rgb(58, 50, 44);
}
label {
  color: burlywood;
  margin-bottom: 1rem;
}
textarea {
  min-height: 5rem;
}
.hz-line {
  margin-top: -1rem;
  border: 1px solid white;
}

.first-page-title {
  margin-top: 4rem;
}
.landing-section {
  margin-bottom: 8rem;
}

.sg-nav-item-2-fb-2 p {
  color: grey;
}
section:not(.ls) {
  margin-top: 5rem;
}
.ls {
  margin-top: 3rem;
}
.element {
  margin-bottom: 3rem;
  background-color: rgb(58, 50, 44);
  padding: 1rem;
  border-radius: 1rem;
}
.element:hover,
.element:focus,
.element:active {
  background-color: rgb(73, 64, 57);
}

.step {
  background-color: rgb(49, 42, 38);
}
.step:hover {
  background-color: rgb(49, 42, 38);
}
figcaption {
  margin-top: 1rem;
}
ol li {
  list-style: inside;
  margin-bottom: 0.5rem;
}
.contact-container {
  margin: 2rem;
  border: 2px solid rgb(73, 64, 57);
  border-radius: 1rem;
  padding: 1rem;
  height: 500px;
}

.form-group {
  margin-bottom: 1rem;
}

.submit-group {
  display: flex;
  justify-content: center;
  width: 100%;
}
.citations-box {
  max-width: 100%;
  line-height: 2rem;
}
.citations-list {
  max-width: 400px;
}
li {
  margin-bottom: 2rem;
}
.text-example-voyager {
  font-family: "Voyager";
}
.text-example-neue {
  font-family: "Neue Machina";
}
.color-box {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 200px;
  height: 200px;
}

.color-box:hover {
  filter: opacity(60%);
}

.hp-img {
  max-width: 40%; /* Ensure images don't exceed their natural size */
  height: auto; /* Keep the aspect ratio when scaling down */
}

.hp-img:hover {
  /* opacity: 40%; */
  /* change this to add slides with text, the same background colour, about myself instead of opacity change */
}

.slide-container-1 {
  max-width: 100%;
}

.my-bio {
  width: 50%;
}
.biography {
  line-height: 2rem;
  width: 80%;
}
.prfc-txt {
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-family: Voyager;
  font-style: italic;
}

.icon {
  width: 25%;
  text-align: center;
  color: white;
}

.icon img {
  max-height: 20px;
  max-width: 100%;
}

#overlay {
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Place the overlay above everything else */
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  width: 100%;
  height: 100vh;
  background-color: rgb(49, 42, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-family: "Voyager";
  color: white;
}

.skill p {
  margin-right: 10px;
  flex-shrink: 0; /* Prevent text from shrinking */
}
.rectangle {
  width: 20px;
  height: 5px;
  background-color: rgb(83, 83, 83);
  margin-right: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.last-rect {
  margin-right: 2rem;
}

#second-slide h2 {
  margin-left: 2rem;
}

#third-slide h2 {
  margin-left: 2rem;
}

.skill-level {
  background-color: rgb(221, 218, 218);
}

.ls {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(134, 111, 97); */
  padding: 1rem;
  border-bottom: 1px solid white;
  margin-top: 1rem;
  justify-content: center;
}

.slide-container-3 {
  text-align: center;
}
.hp-img-prj {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem;
}

.hp-img-prj:hover {
  opacity: 70%;
  filter: drop-shadow(3px 3px 10px grey);
}

.dropbtn {
  padding: 1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media (max-width: 500px) {
  .biography {
    width: 100%;
  }
}
@media (max-width: 500px) {
  /* body{
        line-height:1.4rem;
    } */
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .img-link {
    max-width: 200px;
    max-height: 200px;
  }
}



/* For viewport widths over 600px */
@media screen and (min-width: 600px) {
  .my-image {
    width: 50%; /* Set to half of the screen width */
  }
}

@media (max-width: 730px) {
  .citations-box {
    font-size: 0.5rem;
  }
  body {
    font-size: 0.75rem;
  }
}
